.root {
  width: 75%;
  margin-left: 12rem;
  margin-top: 13rem;
  position: absolute;
}

@media (max-width: 820px) {
  .root {
    margin-left: 6rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 414px) {
  .root {
    width: 85%;
    padding-top: 8rem;
    padding-left: 1.5rem;
  }
}

@media (max-width: 680px) {
  .root {
    margin: 3rem auto;
  }
}
